body {
  font-family: Roboto, 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body-inverse {
  color: #ffffff;
}
p {
  margin: 0 0 20px;
}
.lead {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.05px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}
.lead-inverse {
  color: #ffffff;
}
h1,
.h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.54);
}
h1-inverse,
.h1-inverse {
  color: rgba(255, 255, 255, 0.7);
}
h2,
.h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.87);
}
h2-inverse,
.h2-inverse {
  color: #ffffff;
}
h3,
.h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
h3-inverse,
.h3-inverse {
  color: #ffffff;
}
h4,
.h4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
h4-inverse,
.h4-inverse {
  color: #ffffff;
}
h5,
.h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
h5-inverse,
.h5-inverse {
  color: #ffffff;
}
h6,
.h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
h6-inverse,
.h6-inverse {
  color: #ffffff;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 50%;
  text-transform: uppercase;
}
h1 small-inverse,
h2 small-inverse,
h3 small-inverse,
h4 small-inverse,
h5 small-inverse,
h6 small-inverse,
.h1 small-inverse,
.h2 small-inverse,
.h3 small-inverse,
.h4 small-inverse,
.h5 small-inverse,
.h6 small-inverse,
h1 .small-inverse,
h2 .small-inverse,
h3 .small-inverse,
h4 .small-inverse,
h5 .small-inverse,
h6 .small-inverse,
.h1 .small-inverse,
.h2 .small-inverse,
.h3 .small-inverse,
.h4 .small-inverse,
.h5 .small-inverse,
.h6 .small-inverse {
  color: rgba(255, 255, 255, 0.7);
}
h1,
.h1,
h2,
.h2 {
  font-weight: 400;
  margin: 40px 0 30px;
}
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 500;
  margin: 40px 0 20px;
}
.page-header {
  padding: 0;
  margin: 40px 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdt-display-4 {
  font-size: 112px;
  line-height: 128px;
  font-weight: 300;
  letter-spacing: -0.1px;
  color: rgba(0, 0, 0, 0.54);
}
.mdt-display-4-inverse {
  color: rgba(255, 255, 255, 0.7);
}
.mdt-display-3 {
  font-size: 56px;
  line-height: 84px;
  font-weight: 400;
  letter-spacing: -0.05px;
  color: rgba(0, 0, 0, 0.54);
}
.mdt-display-3-inverse {
  color: rgba(255, 255, 255, 0.7);
}
.mdt-display-2 {
  font-size: 45px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.54);
}
.mdt-display-2-inverse {
  color: rgba(255, 255, 255, 0.7);
}
.mdt-display-1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.54);
}
.mdt-display-1-inverse {
  color: rgba(255, 255, 255, 0.7);
}
.mdt-headline {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.87);
}
.mdt-headline-inverse {
  color: #ffffff;
}
.mdt-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.05px;
  color: rgba(0, 0, 0, 0.87);
}
.mdt-title-inverse {
  color: #ffffff;
}
.mdt-subhead-2 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
.mdt-subhead-2-inverse {
  color: #ffffff;
}
.mdt-subhead-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
.mdt-subhead-1-inverse {
  color: #ffffff;
}
.mdt-body-2 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
.mdt-body-2-inverse {
  color: #ffffff;
}
.mdt-body-1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
.mdt-body-1-inverse {
  color: #ffffff;
}
.mdt-caption {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.54);
}
.mdt-caption-inverse {
  color: rgba(255, 255, 255, 0.7);
}
.mdt-button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
}
.mdt-button-inverse {
  color: #ffffff;
}
