//
// Material Design Typography
// --------------------------------------------------

// MD Color Palette
@import "bower_components/material-design-color-palette/less/variables.less";
@import "bower_components/material-design-color-palette/less/mixins.less";

@import "variables.less";
@import "mixins.less";

//## Body
body {
  font-family: @font-family-sans-serif;
  .font-variant(body-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

//## Strong text
b, strong {
  font-weight: 500;
}

//## Body text
p {
  margin: 0 0 (@line-height-computed); // 0 0 20px
}

.lead {
  .zmdt-title();
  font-weight: 400;
}

//## Headings
h1, .h1 {
  .font-variant(display-1);
}
h2, .h2 {
  .font-variant(headline);
}
h3, .h3 {
  .font-variant(subhead-1);
}
h4, .h4 {
  .font-variant(body-2);
}
h5, .h5 {
  .font-variant(body-2);
}
h6, .h6 {
  .font-variant(body-1);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  small,
  .small {
    font-size: 50%;
    text-transform: uppercase;
  }
}

h1, .h1,
h2, .h2 {
  font-weight: 400;
  margin: (@line-height-computed * 2) 0 (@line-height-computed * 1.5); // 40px 0 30px
}
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
  margin: (@line-height-computed * 2) 0 (@line-height-computed); // 40px 0 20px
}

//## Page Header
.page-header {
  padding: 30px 0 0;
  margin: (@line-height-computed * 2) 0; // 40px 0
  border: 0;
  border-top: 1px solid @mdc-black-lighter;
}

//## Small text
small,
.small {
  .font-variant(caption);
}

//## Marked text
mark,
.mark {
  background-color: @mdc-yellow-A100;
  padding: @padding-base/2;
}

//## Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

//## Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

//## Lists
//## Unordered and Ordered lists
ul,
ol {
  padding-left: @line-height-computed; // 20px
  margin-top: 0;
  margin-bottom: (@line-height-computed); // 20px - like margin-bottom in paragraph
  ul,
  ol {
    margin-bottom: 0;
  }
}
//## Unstyled lists
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

//## Inline lists
.list-inline {
  .list-unstyled();

  > li {
    display: inline-block;
    padding: 0 @padding-base; // 0 8px

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

//## Description Lists
dl {
  margin-top: 0;
  margin-bottom: @line-height-computed * 2; // 40px
}
dt,
dd {
  .font-variant(body-1);
}
dt {
  font-weight: 500;
}
dd {
  margin-left: 0;
  margin-bottom: @line-height-computed; // 20px
}

//## Horizontal description lists
// TODO: This should be re-declared after finished flex-grid
// Then I can use @grid-float-breakpoint instead of 768px and special flex classes
.dl-horizontal {
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;

    dt {
      width: 180px;
      margin-right: @padding-base;
      text-align: right;
      .text-overflow();
    }
    dd {
      flex: 1;
    }
  }
}

//## Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @mdc-black-lighter;
}
.initialism {
  font-size: 90%;
  .text-uppercase();
}

//## Blockquotes
.blockquote {
  .lead();
  padding: (@line-height-computed / 2) @line-height-computed; // 10px 20px
  margin: 0 0 @line-height-computed; // 0 0 20px
  border-left: 5px solid @mdc-black-light;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  footer {
    display: block;
    .font-variant(caption);

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }

  //## Opposite alignment of blockquote
  &-reverse {
    border-right: 5px solid @mdc-black-light;
    border-left: 0;
    text-align: right;

    footer {
      &:before { content: ''; }
      &:after {
        content: '\00A0 \2014'; // nbsp, em dash
      }
    }
  }
}

//## Addresses
address {
  margin-bottom: @line-height-computed; // 20px
  font-style: normal;
}

//## Divider
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid @mdc-black-lighter;
}

//## Code
code, kbd, pre, samp {
  font-family: @font-family-monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: @mdc-grey-700;
  background-color: @mdc-black-lighter;
  border-radius: 2px;
}
pre {
  display: block;
  padding: 8px;
  margin: 0 0 8px;
  font-size: 12px;
  line-height: 20px;
  color: @mdc-black-darker;
  word-break: break-all;
  word-wrap: break-word;
  background-color: @mdc-grey-100;
  border: 1px solid @mdc-grey-200;
  border-radius: 2px;
}

//## Contextual colors
.text-muted {
  color: @mdc-black-light;
}
.text-primary { .zmd-text-variant(blue, false); }
.text-success { .zmd-text-variant(green, false); }
.text-info    { .zmd-text-variant(light-blue, false); }
.text-warning { .zmd-text-variant(orange, false); }
.text-danger  { .zmd-text-variant(red, false); }

//## Contextual backgrounds
.bg-primary { .zmd-bg-variant(blue, false); }
.bg-success { .zmd-bg-variant(green, false); }
.bg-info    { .zmd-bg-variant(light-blue, false); }
.bg-warning { .zmd-bg-variant(orange, false); }
.bg-danger  { .zmd-bg-variant(red, false); }

//## Material Design special classes
.typography-variant(display-4);
.typography-variant(display-3);
.typography-variant(display-2);
.typography-variant(display-1);
.typography-variant(headline);
.typography-variant(title);
.typography-variant(subhead-2);
.typography-variant(subhead-1);
.typography-variant(body-2);
.typography-variant(body-1);
.typography-variant(menu);
.typography-variant(caption);
.typography-variant(button);

//## Material Design special classes addition
.@{zmdt-css-prefix}-button,
.@{zmdt-css-prefix}-button-inverse {
  .text-uppercase();
}
.@{zmdt-css-prefix}-display-4,
.@{zmdt-css-prefix}-display-3,
.@{zmdt-css-prefix}-display-2,
.@{zmdt-css-prefix}-display-1 {
  &, &-inverse {
    margin: (@line-height-computed) 0 (@line-height-computed * 1.5); // 20px 0 30px
  }
}
.@{zmdt-css-prefix}-headline,
.@{zmdt-css-prefix}-title,
.@{zmdt-css-prefix}-subhead-2,
.@{zmdt-css-prefix}-subhead-1,
.@{zmdt-css-prefix}-body-2,
.@{zmdt-css-prefix}-body-1{
  &, &-inverse {
    margin: (@line-height-computed) 0; // 20px 0
  }
}

