//
// Material Design Typography
// --------------------------------------------------

// get font variables from "variables.less"
.get-font-variables(@name) {
  @font-size: ~"font-size-@{name}";
  @font-weight: ~"font-weight-@{name}";
  @line-height: ~"line-height-@{name}";
  @letter-spacing: ~"letter-spacing-@{name}";
  @font-color: ~"font-color-@{name}";
  @font-color-inverse: ~"font-color-inverse-@{name}";
}

// px units font-size mixin
.font-variant(@name) {
  .get-font-variables(@name);
  font-size: (@@font-size)+0px;
  line-height: (@@line-height)+0px;
  font-weight: @@font-weight;
  letter-spacing: (@@letter-spacing/100)+0px;
  color: @@font-color;
  &-inverse {
    color: @@font-color-inverse;
  }
}

// rem units font-size mixin
.font-variant-rem(@name) {
  .get-font-variables(@name);
  font-size: (@@font-size/10)+0rem;
  line-height: round(@@line-height/@@font-size, 8);
  font-weight: @@font-weight;
  letter-spacing: (@@letter-spacing/1000)+0rem;
  color: @@font-color;
  &-inverse {
    color: @@font-color-inverse;
  }
}

// Text overflow
// Requires inline-block or block for proper styling
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}